@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-weight: 400;
}

/* Radial gradient utility */
.bg-gradient-radial {
  background-image: radial-gradient(circle, var(--tw-gradient-stops));
}
